/* CUSTOM STYLES */

/* BODY */
body {
    height: 100%;
    width: 100%;
    font-family: 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }

h1 {
    font-size: 128px;
}

ul {
    list-style-type: none;
}

.container {
    margin-top: 20px;
}

/* MARQUEE */
.marquee-container {
    display: flex;
    overflow: hidden;
    border-bottom: 2px solid black;
}

.marquee {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    margin-top: 35px;
    margin-bottom: 35px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    overflow: hidden;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* LOGOS */
.roselogo {
    margin-bottom: 30px;
}

/* SQUARES */
.draggable {
    background-color: #D9D9D9;
    border: 1px solid black;
    padding: 10px;
    cursor: move;
    width: 300px;
    height: 200px;
}

/* FOOTER */
.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin-bottom: 10px;
}