/* CUSTOM STYLES */

/* BODY */
body {
    height: 100%;
    width: 100%;
    font-family: 'Arial Narrow', Arial, sans-serif;
  }

  h1 {
    font-size: 128px;
  }

  ul {
    list-style-type: none;
  }

/* MARQUEE */
.marquee-container {
    display: flex;
    overflow: hidden;
    border-bottom: 2px solid black;
}

.marquee {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    margin-top: 35px;
    margin-bottom: 35px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    overflow: hidden;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* LOGOS */
.roselogo {
    margin-bottom: 30px;
}

/* SQUARES */
.square {
    background-color: #D9D9D9;
    border: 1px solid black;
    padding: 10px;
}

#draggable {
    /* touch-action: none;
    user-select: none; */
    position: absolute;
    z-index: 2;
    cursor: move;
}

#draggableheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}
